<div class="mt-20 div-body" id="div-body">

    <table class="table table-border table-bordered table-hover table-bg ">
        <thead>
            <tr class="text-c">

                <th width="50">账户名称</th>
                <th width="50">银行名称</th>
                <th width="80">卡号</th>
                <th width="80">提现金额</th>
                <th width="80">到账金额</th>
                <th width="40">状态</th>
                <th width="80">申请时间</th>
                <th width="80">处理时间</th>
                <th width="40">操作</th>
            </tr>
        </thead>
        <tbody id="dataTable"></tbody>
    </table>


</div>