<aside class="Hui-aside">
	<input id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    
					<li><a _href="member/Member_List.aspx"  data-title="推荐会员列表" href="javascript:void(0)">推荐会员列表</a></li>
                    <li><a _href="member/Member_add.aspx" data-title="注册新会员" href="javascript:void(0)" title="资讯管理">注册新会员</a></li>
                 
                    
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 资金管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    <!--<li><a _href="Money/UserMoneyFlow.aspx" data-title="电子币明细" href="javascript:void(0)" title="电子币明细">电子币明细</a></li>-->
                    <li><a _href="Money/UserMoneyIncome.aspx" data-title="收入明细" href="javascript:void(0)" title="收入明细">收入明细</a></li>
                    <li><a _href="Money/UserMoenyForze.aspx" data-title="待解冻收入" href="javascript:void(0)" title="待解冻收入">待解冻收入</a></li>
                    <li><a _href="Money/UserMoenyCost.aspx" data-title="支出明细" href="javascript:void(0)" title="支出明细">支出明细</a></li>
                    
                    <li><a _href="Money/TransfList.aspx" data-title="转账明细" href="javascript:void(0)" title="转账明细">转账明细</a></li>
                    <li><a _href="Money/UserDrawList.aspx" data-title="提现明细" href="javascript:void(0)" title="提现明细">提现明细</a></li>
                    <li><a _href="Money/Draw.aspx" data-title="提现" href="javascript:void(0)" title="提现">提现</a></li>
                    <li><a _href="Money/transf.aspx" data-title="转账" href="javascript:void(0)" title="转账">转账</a></li>
				</ul>
			</dd>
		</dl>


        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 个人资料<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul id="activemenu">
                    <li><a _href="Center/Person.aspx" data-title="个人资料" href="javascript:void(0)">个人资料</a></li>
                    <li><a _href="Center/PersonSY.aspx" data-title="个人收益统计" href="javascript:void(0)">个人收益统计</a></li>
                   
                    <li><a _href="Center/PersonZC.aspx" data-title="支出统计" href="javascript:void(0)">支出统计</a></li>
                  
                </ul>
            </dd>
        </dl>

        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="system/ChangePWDA.aspx" data-title="修改登录密码" href="javascript:void(0)" title="修改登录密码">修改登录密码</a></li>
                    <li><a _href="system/ChangePWDB.aspx" data-title="修改二级密码" href="javascript:void(0)" title="修改二级密码">修改二级密码</a></li>
                    <li><a _href="member/Member_Msg.aspx" data-title="消息通知" href="javascript:void(0)" title="消息通知">消息通知</a></li>
                    <li><a href="Logout.aspx" title="退出登录">退出登录</a></li>
                </ul>
            </dd>
        </dl>
		
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>




