<form action="" method="post" class="form form-horizontal" id="form-member-add">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>购买金额(万元)：</label>
        <div class="formControls col-xs-7 col-sm-8">
            <input type="text" class="input-text" placeholder="请填写购买金额" id="buymoney" name="buymoney" datacol="yes" err="购买金额"
                   checkexpession="PInt">
        </div>
        万元
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>真实姓名：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="必须填写真实姓名" id="realname" name="realname" datacol="yes" err="真实姓名"
                   checkexpession="ChineseStr">
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证号码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="请填写身份证号码" id="idno" name="idno" datacol="yes" err="身份证号码"
                   checkexpession="IDCard">
        </div>
    </div>
    <!--<div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>银行名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="银行名称" id="bankname" name="bankname" datacol="yes" err="银行名称"
                   checkexpession="NotNull">
         </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开户行：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="请填写开户行" id="bankaddress" name="bankaddress" datacol="yes" err="开户行"
                   checkexpession="NotNull">
        </div>
    </div>


    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>银行卡号：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="请填写银行卡号" id="bankcardno" datacol="yes" err="银行卡号"
                   checkexpession="NotNull">
        </div>
    </div>-->
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">银行名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="银行名称" id="bankname" name="bankname"  err="银行名称"
                   >
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">开户行：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="请填写开户行" id="bankaddress" name="bankaddress" err="开户行"
                   >
        </div>
    </div>


    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">银行卡号：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="请填写银行卡号" id="bankcardno"  err="银行卡号"
                  >
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">邮箱：</label>
        <div class="formControls col-xs-8 col-sm-9 skin-minimal">
            <input type="text" class="input-text" placeholder="@" name="email" id="email" datacol="yes" err="邮箱"
                   checkexpession="EmailOrNull">
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机号码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" placeholder="请填写手机号码" class="m-wrap large" id="phone" name="phone" datacol="yes" err="手机号码"
                   checkexpession="Mobile">
        </div>
    </div>






    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-3 col-sm-offset-2">
            <input class="btn btn-primary radius" type="button" onclick="return submituser();" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>