

<div class="mt-20 div-body" id="div-body">

    <table class="table table-border table-bordered table-hover table-bg ">
        <thead>
            <tr class="text-c">

                <th width="70">账号</th>
                <th width="50">姓名</th>
                <th width="100">手机</th>
                <th width="90">注册金额（元）</th>
                <th width="100">直系业绩（元）</th>
                <th width="100">旁系业绩（元）</th>
                <th width="100">上月业绩（元）</th>
                <th width="100">本月业绩（元）</th>
                <th width="40">状态</th>
                <th width="140">注册日期</th>
                <th width="140">更新日期</th>
            </tr>
        </thead>
        <tbody id="dataTable"></tbody>
    </table>


</div>
<div class="row cl">
    <div id="pager"></div>
</div>